<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Game</title>
</head>
<body>
<h1>Create a Game</h1>
<form method="POST" th:action="@{/create-game}" action="#" th:object="${createGameForm}">
    <label th:for="*{title}">Game Title</label>
    <label>
        <input type="text" th:field="*{title}">
    </label>

    <input hidden="hidden" th:field="*{gameHandle}" type="text"/>

    <button type="submit">Create Game</button>
</form>
</body>
</html>